.DS_Store
node_modules/
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__tests__/unit/coverage
test/e2e/reports
selenium-debug.log
junit.xml

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

pid
.idea/*
*~
\#*
.\#*

# local env files
.env.local
.env.*