sass_binary_site=https://registry.npmmirror.com/binary.html?path=node-sass/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
electron_mirror=https://npmmirror.com/mirrors/electron/
phantomjs_cdnurl=https://cdn.npmmirror.com/binaries/phantomjs
registry=https://registry.npmmirror.com
