@import './element.scss';
@import './root.scss';

#app,
body {
  width: 100%;
  font: 14px/1.5 $font_family;
  color: $font;
  font-weight: normal;
  &.is-en {
    .el-button {
      font-size: 12px !important;
    }
    .el-table {
      font-size: 12px !important;
    }
  }
}

a,
.blue {
  text-decoration: none;
  color: $blue;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}

.global-loading-mask {
  background-color: rgba(255, 255, 255, 0.6);
}

xmp,
pre,
plaintext {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-success {
  color: $success_color;
}

.text-danger {
  color: $error_color;
}

.text-error {
  color: $error_color;
}

.text-warning {
  color: $warning_color;
}

.text-gray {
  color: $font_gray;
}

.text-high {
  color: $font_high;
}

.text-primary {
  color: $primary_color;
}

.after-line {
  &::after {
    content: '|';
    width: 1px;
    padding: 0 5px;
    color: $outline;
  }
}

.before-line {
  &::before {
    content: '|';
    width: 1px;
    padding: 0 5px;
    color: $outline;
  }
}

.shadow-box {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.dropdown-menu-full-button {
  .el-dropdown-menu__item {
    padding: 2px 12px;
    height: 32px;
    width: 100%;
    &:hover {
      .el-button, a {
        color: $primary_color !important;
      }
    }
    .el-button, a {
      border: 0;
      padding: 0;
      color: $font_gray !important;
    }
  }
}

.empty-holder-text {
  font-size: 18px;
  color: #8c8c8c;
  text-align: center;
  width: 100%;
  img {
    width: 200px;
    margin: auto;
  }
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
.spin {
  display: inline-flex;
  animation: spin 3s linear infinite;
  -webkit-animation: spin 3s linear infinite;
}